<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <meta name="Portfolio" content="index,follow" />
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script>
        // The debounce function receives our function as a parameter
        const debounce = (fn) => {

        // This holds the requestAnimationFrame reference, so we can cancel it if we wish
        let frame;

        // The debounce function returns a new function that can receive a variable number of arguments
        return (...params) => {
        
        // If the frame variable has been defined, clear it now, and queue for next frame
        if (frame) { 
            cancelAnimationFrame(frame);
        }

        // Queue our function call for the next frame
        frame = requestAnimationFrame(() => {
            
            // Call our function and pass any params we received
            fn(...params);
        });

        } 
        };

        // Reads out the scroll position and stores it in the data attribute
        // so we can use it in our stylesheets
        const storeScroll = () => {
            document.getElementById("Title").dataset.scroll = window.scrollY;
            if (scrollY > 1) {
                    document.getElementById("Nav").className = "NavScrolled";
            }else {
                    document.getElementById("Nav").className = "Nav";
            }

        }

        window.onload = function() {        // Listen for new scroll events, here we debounce our `storeScroll` function
            document.addEventListener('scroll', debounce(storeScroll), { passive: true });

            // Update scroll position for first time
            storeScroll();
        }

    </script>

  
</head>


<body>

    <nav class="Nav" id="Nav">
        <a href="/">Portfolio</a>
    </nav>

    <div class="Main">
        <div class="Title" id="Title">
            <p>Portfolio</p>
            <p class="sub">Jack Tollenaar</p>
        </div>
        <div id="Catogories">
            <a href="/projects"><div href="/projects" class="catagory" id="golfrush"><p>Big projects</p></div></a>
            <a href="/projects"><div href="/projects" class="catagory" id="jams"><p>Game jams</p></div></a>
            <a href="/projects"><div href="/projects" class="catagory" id="programming"><p>Programming</p></div></a>
        </div>
    </div>
  </body>




