<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <meta name="Portfolio" content="index,follow" />
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script>
        // The debounce function receives our function as a parameter
        const debounce = (fn) => {

        // This holds the requestAnimationFrame reference, so we can cancel it if we wish
        let frame;

        // The debounce function returns a new function that can receive a variable number of arguments
        return (...params) => {
        
        // If the frame variable has been defined, clear it now, and queue for next frame
        if (frame) { 
            cancelAnimationFrame(frame);
        }

        // Queue our function call for the next frame
        frame = requestAnimationFrame(() => {
            
            // Call our function and pass any params we received
            fn(...params);
        });

        } 
        };

        // Reads out the scroll position and stores it in the data attribute
        // so we can use it in our stylesheets
        const storeScroll = () => {
            document.getElementById("Title").dataset.scroll = window.scrollY;
            if (scrollY > 1) {
                    document.getElementById("Nav").className = "NavScrolled";
            }else {
                    document.getElementById("Nav").className = "Nav";
            }

        }

        window.onload = function() {        // Listen for new scroll events, here we debounce our `storeScroll` function
            document.addEventListener('scroll', debounce(storeScroll), { passive: true });

            // Update scroll position for first time
            storeScroll();
        }

        openedgolf = false
        function openGolf() {
            if (!openedgolf) {
                openedgolf=true;
                document.getElementById("golfcont").className = "open";
            }else {
                openedgolf=false;
                document.getElementById("golfcont").className = "content";
            }
        }


    </script>

  
</head>


<body>

    <nav class="Nav" id="Nav">
        <a href="/">Portfolio</a>
    </nav>

    <div class="Main">
        <div class="Title" id="Title">
            <p>Big Projects</p>
        </div>
        <div id="projects">
            <div class="project" id="projectgolfrush">
                <div id="projecttitle">
                    <a onclick="openGolf()"><p>Golf Rush</p></a>
                </div>
                <div id="golfcont"class="content">
                    A really cool golf game
                </div>

            </div>
            <div class="project" id="projectpws">
                <div id="projecttitle">
                    <a onclick="openPws()"><p>PWS Project</p></a>
                </div>
                <div id="pwscont"class="content">
                    A really cool PWS
                </div>

            </div>
            <div class="project" id="projectabyss">
                <div id="projecttitle">
                    <a onclick="openAbyss()"><p>Abyssrite</p></a>
                </div>
                <div id="abysscont"class="content">
                    A really cool abyss
                </div>

            </div>
    </div>
  </body>




